
body{
    background-color: #345;
    color: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
}
div{
    padding: 1em;
    margin: 1em;
}
button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    background-color: #456;
    color: #ccc;
    border-radius: 2px;
    width: 100%;

}
button:hover{
    background-color: #567;
    cursor: pointer;

}

textarea{
    font-family: monospace;
    font-size: 16pt;
 
} 
#result{
    white-space: pre;

}
